* {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

a {
  text-decoration: none;
  color: black;
}

header, h1 {
  font-family: 'Shrikhand', cursive;
  margin: 0;
  margin-top: 5.75px;
  margin-bottom: 5.75px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

img {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 100%;
}

@media only screen and (min-width: 500px) {
  body {
    max-width: 500px;
    margin: auto;
  }
}

footer {
  background-color: #353535;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 23px;
  line-height: 1.8em;
}

footer h1 {
  font-size: medium;
}

footer a {
  color: white;
}

footer i {
  font-size: small;
  margin-right: 10px;
}

.logo-site {
  width: 180px;
  max-width: 250px;
  margin: 10px;
}

#section-resto, #section-explorer, #form-location {
  background-color: whitesmoke;
  padding: 23px;
  padding-bottom: 46px;
}

#section-explorer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#section-explorer h2 {
  margin-top: 15px;
  margin-bottom: 15px;
}

#section-explorer p {
  margin: 0;
  font-size: large;
}

#section-explorer .button-pink {
  margin-top: 30px;
  margin-bottom: 10px;
}

#section-fonctionnement {
  margin: 23px;
  margin-top: 30px;
  margin-bottom: 45px;
}

#section-fonctionnement ol {
  list-style: none;
  margin: 0;
  padding: 0;
  counter-reset: numListe;
}

#section-fonctionnement ol li {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  border-radius: 20px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.07);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.07);
  background-color: white;
  border: none;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.13);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.13);
  background-color: whitesmoke;
  margin-bottom: 23px;
  margin-left: 10px;
  padding: 25px;
  padding-left: 10px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#section-fonctionnement ol li::before {
  position: relative;
  left: -23px;
  counter-increment: numListe 1;
  content: counter(numListe);
  color: white;
  font-weight: 400;
  font-size: small;
  border-radius: 50%;
  padding: 6px;
  width: 12px;
  height: 12px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #9356DC;
}

#section-fonctionnement ol li i {
  color: gray;
  padding-right: 20px;
  font-size: larger;
}

#section-fonctionnement ol #li3 {
  background-color: #f5edff;
}

#section-fonctionnement ol #li3 i {
  color: #9356DC;
}

#form-location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #eaeaea;
  padding: 15px;
  color: #353535;
  -webkit-box-shadow: inset 0px 5px 5px -5px gray;
          box-shadow: inset 0px 5px 5px -5px gray;
}

#form-location input {
  border: none;
  background-color: #eaeaea;
  font-size: 1em;
  font-weight: bold;
  width: auto;
  text-align: center;
}

.carte-resto {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  border-radius: 20px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.07);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.07);
  background-color: white;
  border: none;
  position: relative;
  height: 250px;
  margin-bottom: 20px;
  background-color: white;
}

.carte-resto img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  height: 175px;
}

.carte-resto h3, .carte-resto p {
  margin: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 15px;
}

.carte-resto .carte-texte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 75px;
  margin-left: 13px;
  margin-top: -5px;
}

.carte-resto .new {
  position: absolute;
  top: 15px;
  right: 15px;
  border-radius: 3px;
  padding: 6px;
  padding-left: 11px;
  padding-right: 11px;
  color: #008766;
  background-color: #99E2D0;
  font-weight: bold;
  font-size: .9em;
}

.carte-resto .button-heart {
  font-size: 1.7em;
  position: absolute;
  right: 25px;
  bottom: 25px;
}

.loading-spinner {
  position: fixed;
  z-index: 2;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: collapse;
  -webkit-animation: loading 3s both;
          animation: loading 3s both;
}

@-webkit-keyframes loading {
  0% {
    visibility: visible;
  }
  100% {
    visibility: collapse;
  }
}

@keyframes loading {
  0% {
    visibility: visible;
  }
  100% {
    visibility: collapse;
  }
}

.spin {
  width: 5vw;
  height: 5vw;
  border: none;
  border-radius: 50%;
  margin: 3vw;
  -webkit-animation: spinning 1s backwards infinite;
          animation: spinning 1s backwards infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.spin--1 {
  background-color: #9356DC;
}

.spin--2 {
  background-color: #FF79DA;
}

.spin--3 {
  background-color: #99E2D0;
}

.spin--1 {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}

.spin--2 {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}

.spin--3 {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}

@-webkit-keyframes spinning {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@keyframes spinning {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

.bouton-retour {
  border: none;
  background: none;
  position: absolute;
  width: 65px;
  height: 65px;
  top: 0;
  left: 0;
  font-size: large;
  color: #424242;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-titre {
  border: none;
  background-color: whitesmoke;
  border-radius: 40px;
  margin-top: -45px;
  margin-bottom: 0;
  padding-left: 23px;
  padding-right: 34.5px;
  padding-top: 32px;
  padding-bottom: 10px;
  font-size: 1.7em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.menu-titre .button-heart {
  background-color: whitesmoke;
  width: 80px;
}

.menu-page {
  background-color: whitesmoke;
}

.menu-page section {
  padding: 11.5px;
}

.menu-page section h2 {
  font-variant-caps: all-petite-caps;
  font-weight: 400;
  margin: 0;
  margin-left: 7px;
  padding-bottom: 3px;
  border-bottom: 3px solid #99E2D0;
  width: 40px;
}

.menu-page section .bouton-choix {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  border-radius: 20px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.07);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.07);
  background-color: white;
  border: none;
  border-radius: 15px;
  margin-top: 15px;
  padding: 0;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
  -webkit-animation: plats 600ms ease-in-out both;
          animation: plats 600ms ease-in-out both;
}

.menu-page section .bouton-choix .texte {
  display: block;
  padding: 10px;
  width: 100%;
}

.menu-page section .bouton-choix .coche {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 0%;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 1.6em;
  border: none;
  padding: 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #99E2D0;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-transition: width 600ms;
  transition: width 600ms;
}

.menu-page section .bouton-choix .coche i {
  overflow: hidden;
}

.menu-page section .bouton-choix:active .coche {
  background-color: #85dcc7;
}

.menu-page section .bouton-choix:hover .coche {
  width: 30%;
  -webkit-transition: width 600ms;
  transition: width 600ms;
}

.menu-page section .bouton-choix:hover i {
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
  -webkit-transition: -webkit-transform 600ms;
  transition: -webkit-transform 600ms;
  transition: transform 600ms;
  transition: transform 600ms, -webkit-transform 600ms;
}

.menu-page section .bouton-choix h3, .menu-page section .bouton-choix span {
  margin: 3px;
}

.menu-page section .bouton-choix h3 {
  font-size: large;
}

.menu-page section .bouton-choix span {
  font-size: 1.1em;
}

.menu-page section .bouton-choix .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-page section .bouton-choix .desc, .menu-page section .bouton-choix h3, .menu-page section .bouton-choix .texte {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu-page section .bouton-choix .prix {
  font-weight: bold;
  color: #424242;
  margin-right: 10px;
}

.menu-page section .bouton-choix--1 {
  -webkit-animation-delay: 0ms;
          animation-delay: 0ms;
}

.menu-page section .bouton-choix--2 {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}

.menu-page section .bouton-choix--3 {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}

.menu-page section .bouton-choix--4 {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}

.menu-page .menu-img {
  position: relative;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
  height: 260px;
}

.menu-page div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-page .button-pink {
  margin-top: 40px;
  margin-bottom: 80px;
}

@-webkit-keyframes plats {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    opacity: 1;
  }
}

@keyframes plats {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    opacity: 1;
  }
}

.button-pink {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  border-radius: 20px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.07);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.07);
  background-color: white;
  border: none;
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  padding: 23px;
  padding-top: 15px;
  padding-bottom: 15px;
  min-width: 50%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: medium;
  border-radius: 40px;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
  -webkit-transition-property: background, -webkit-box-shadow;
  transition-property: background, -webkit-box-shadow;
  transition-property: background, box-shadow;
  transition-property: background, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
}

.button-pink:hover {
  cursor: pointer;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff88de), to(#9b63df));
  background: linear-gradient(#ff88de, #9b63df);
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
}

.button-heart {
  border: none;
  font-size: 1em;
  background-color: white;
  position: relative;
}

.button-heart .far {
  position: absolute;
  right: 0px;
  bottom: 0px;
  opacity: 1;
}

.button-heart .fas {
  position: absolute;
  right: 0px;
  bottom: 0px;
  opacity: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), color-stop(25%), to(#FF79DA));
  background: linear-gradient(#9356DC, 25%, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button-heart:hover {
  cursor: pointer;
}

.button-heart:hover .far {
  opacity: 0;
  -webkit-transition: opacity 100ms;
  transition: opacity 100ms;
}

.button-heart:hover .fas {
  opacity: 1;
  -webkit-transition: opacity 1.5s;
  transition: opacity 1.5s;
}
/*# sourceMappingURL=styles.css.map */