.button-pink
{
    @include carte;
    color: white;
    background: linear-gradient($color-secondary,$color-primary);
    padding: $margin-page;
    padding-top: 15px;
    padding-bottom: 15px;
    min-width: 50%;
    width: fit-content;
    font-size:medium;
    border-radius: 40px;
    box-shadow: 0 5px 5px rgba($color: #000000, $alpha: .15);
}