.button-pink
{
    @include carte;
    color: white;
    background: linear-gradient($color-secondary,$color-primary);
    padding: $margin-page;
    padding-top: 15px;
    padding-bottom: 15px;
    min-width: 50%;
    width: fit-content;
    font-size:medium;
    border-radius: 40px;
    box-shadow: 0 5px 5px rgba($color: #000000, $alpha: .15);
    transition-property: background, box-shadow;
    transition-duration: 400ms;
    &:hover
    {
        cursor: pointer;
        background: linear-gradient(lighten($color-secondary, 3%), lighten($color-primary, 3%));
        box-shadow: 0 5px 5px rgba($color:#000000, $alpha: .4);
    }
}

.button-heart
{
    border: none;
    font-size: 1em;
    background-color: white;
    position: relative;
    .far
    {
        position: absolute;
        right: 0px;
        bottom: 0px;
        opacity: 1;
    }
    .fas
    {
        position: absolute;
        right: 0px;
        bottom: 0px;
        opacity: 0;
        background: linear-gradient($color-primary, 25%, $color-secondary);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    &:hover
    {
        cursor: pointer;
        .far
        {
            opacity: 0;
        }
        .fas
        {
            opacity: 1;
            transition: opacity 2s;
        }
    }
}