
*
{
    font-family: 'Roboto', sans-serif;
}

body
{
    margin: 0;
}

section
{
    display: flex;
    flex-direction: column;
}

a
{
    text-decoration: none;
    color: black;
}

header, h1 
{
    font-family: 'Shrikhand', cursive;
    margin: 0;
    margin-top: $margin-page/4;
    margin-bottom: $margin-page/4;
}

header
{
    display: flex;
    justify-content: center;
}

img
{
    box-sizing: content-box;
    width: 100%;
}

@media only screen and (min-width: 500px)
{
    body
    {
        max-width: 500px;
        margin: auto;
    }
}