
*
{
    font-family: 'Roboto', sans-serif;
}

body
{
    margin: 0;
    padding: $margin-page;
}

section
{
    display: flex;
    flex-direction: column;
}

a
{
    text-decoration: none;
    color: black;
}

header, h1 
{
    font-family: 'Shrikhand', cursive;
    margin: 0;
}

header
{
    display: flex;
    justify-content: center;
}

img
{
    box-sizing: content-box;
    width: 100%;
}