#section-resto, #section-explorer, #form-location
{
    background-color:whitesmoke;
    padding: $margin-page;
    padding-bottom: 2*$margin-page;
}
#section-explorer
{
    display: flex;
    align-items: center;
    text-align: center;
    h2
    {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    p
    {
        margin: 0;
        font-size: large;
    }
    .button-pink
    {
        margin-top: 30px;
        margin-bottom: 10px;
    }
}
#section-fonctionnement
{
    margin: $margin-page;
    margin-top: 30px;
    margin-bottom: 45px;
    ol
    {
        list-style: none;
        margin: 0;
        padding: 0;
        counter-reset: numListe;
        li
        {
            @include carte;
            box-shadow: 0 5px 10px rgba($color: #000000, $alpha: .13);
            background-color: whitesmoke;
            margin-bottom: $margin-page;
            margin-left: 10px;
            padding: 25px;
            padding-left: 10px;
            font-weight: bold;
            display: flex;
            &::before
            {
                position: relative;
                left: -23px;
                counter-increment: numListe 1;
                content: counter(numListe);
                color: white;
                font-weight: 400;
                font-size:small;
                border-radius: 50%;
                padding: 6px;
                width: 12px;
                height: 12px;
                text-align: center;
                justify-content: center;
                background-color: $color-primary;
            }
            i
            {
                color: gray;
                padding-right: 20px;
                font-size: larger;
            }
        }
        #li3
        {
            background-color: rgb(245, 237, 255);
            i
            {
                color: $color-primary;
            }
        }
    }
}

#form-location
{
    display: flex;
    justify-content: center;
    background-color: $color-gris234;
    padding: 15px;
    color: $color-gris53;
    box-shadow: inset 0px 5px 5px -5px gray;
    input
    {
        border: none;
        background-color: $color-gris234;
        font-size: 1em;
        font-weight: bold;
        width: auto;
        text-align: center;
    }
    // label
    // {
    //     padding-right: 15px;
    // }
}

.carte-resto
{
    @include carte;
    position: relative;
    height: 250px;
    margin-bottom: 20px;
    background-color: white;
    img
    {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        object-fit: cover;
        height: 175px;
    }
    h3, p
    {
        margin: 0;
        margin-top: 5px;
        margin-bottom: 5px;
        line-height: 15px;
    }
    .carte-texte
    {
        display: flex;
        flex-direction: column;
        justify-content:center;
        height: 75px;
        margin-left: 13px;
        margin-top: -5px;
        
    }
    .new
    {
        position: absolute;
        top: 15px;
        right: 15px;
        border-radius: 3px;
        padding: 6px;
        padding-left: 11px;
        padding-right: 11px;
        color: rgb(0, 135, 102);
        background-color: $color-accent;
        font-weight: bold;
        font-size: .9em;
    }
    .button-heart
    {
        font-size: 1.7em;
        position: absolute;
        right: 25px;
        bottom: 25px;
    }
}



