.bouton-retour
{
    border: none;
    background: none;
    position: absolute;
    top: $margin-page;
    left: $margin-page;
    font-size: large;
    color: rgb(66, 66, 66);
}

.menu-page
{
    background-color: whitesmoke;
    // .section-menu
    section
    {
        padding: $margin-page/2;
        h2
        {
            font-variant-caps: all-petite-caps;
            font-weight: 400;
            margin: 0;
            padding-bottom: 3px;
            border-bottom: 3px solid $color-accent;
            width: 40px;
        }
        button
        {
            @include carte;
            border-radius: 15px;
            margin-top: 15px;
            padding: 10px;
            text-align: left;
            h3,p
            {
                margin: 3px;
            }
            .desc
            {
                float: left;
            }
            .prix
            {
                float:right;
                font-weight: bold;
                color: rgb(66, 66, 66);
            }
        }
    }
    // .menu-img
    img
    {
        position: relative;
        z-index: -1;
    }

    div
    {
        display: flex;
        justify-content: center;
    }
    .button-pink
    {
        margin-top: 40px;
        margin-bottom: 80px;
    }
}

.menu-titre
{
    border: none;
    background-color: whitesmoke;
    border-radius: 2*$margin-page;
    margin-top: -2*$margin-page;
    padding: $margin-page;
    font-size: 1.6em;
}