.bouton-retour
{
    border: none;
    background: none;
    position: absolute;
    width: 65px;
    height: 65px;
    top: 0;
    left: 0;
    font-size: large;
    color: rgb(66, 66, 66);
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-titre
{
    border: none;
    background-color: whitesmoke;
    border-radius: 40px;
    margin-top: -45px;
    margin-bottom: 0;
    padding-left: $margin-page;
    padding-right: 1.5*$margin-page;
    padding-top: 32px;
    padding-bottom: 10px;
    font-size: 1.7em;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    .button-heart
    {
        background-color: whitesmoke;
    }
}

.menu-page
{
    background-color: whitesmoke;
    // .section-menu
    section
    {
        padding: $margin-page/2;
        h2
        {
            font-variant-caps: all-petite-caps;
            font-weight: 400;
            margin: 0;
            margin-left: 7px;
            padding-bottom: 3px;
            border-bottom: 3px solid $color-accent;
            width: 40px;
        }
        button
        {
            @include carte;
            border-radius: 15px;
            margin-top: 15px;
            padding: 10px;
            text-align: left;
            h3,p
            {
                margin: 3px;
            }
            h3
            {
                font-size: large;
            }
            p
            {
                font-size: 1.1em;
            }
            .desc
            {
                float: left;
            }
            .prix
            {
                float:right;
                font-weight: bold;
                color: rgb(66, 66, 66);
                margin-right: 10px;
            }
        }
    }
    .menu-img
    {
        position: relative;
        z-index: -1;
        object-fit: cover;
        height: 260px;
    }

    div
    {
        display: flex;
        justify-content: center;
    }
    .button-pink
    {
        margin-top: 40px;
        margin-bottom: 80px;
    }
}