.bouton-retour
{
    border: none;
    background: none;
    position: absolute;
    width: 65px;
    height: 65px;
    top: 0;
    left: 0;
    font-size: large;
    color: rgb(66, 66, 66);
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-titre
{
    border: none;
    background-color: whitesmoke;
    border-radius: 40px;
    margin-top: -45px;
    margin-bottom: 0;
    padding-left: $margin-page;
    padding-right: 1.5*$margin-page;
    padding-top: 32px;
    padding-bottom: 10px;
    font-size: 1.7em;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    .button-heart
    {
        background-color: whitesmoke;
        width: 80px;
    }
}

.menu-page
{
    background-color: whitesmoke;
    // .section-menu
    section
    {
        padding: $margin-page/2;

        h2
        {
            font-variant-caps: all-petite-caps;
            font-weight: 400;
            margin: 0;
            margin-left: 7px;
            padding-bottom: 3px;
            border-bottom: 3px solid $color-accent;
            width: 40px;
        }
        .bouton-choix
        {
            @include carte;
            border-radius: 15px;
            margin-top: 15px;
            padding: 0;
            text-align: left;
            display: flex;
            
            .texte
            { 
                display: block;
                padding: 10px;
                width: 100%;
            }
            .coche
            {
                display: flex;
                width: 0%;
                align-self: stretch;
                justify-content: center;
                align-items: center;
                color: white;
                font-size: 1.6em;
                border: none;
                padding: 0;
                border-top-right-radius: 15px;
                border-bottom-right-radius: 15px;
                background-color: $color-accent;
                transform-origin: 100% 50%;
                transition: width 600ms;
                i
                {
                    overflow: hidden;
                }
            }
            &:active
            {
                .coche
                {
                    background-color: darken($color-accent, $amount: 5%);
                }
            }
            &:hover
            {
                .coche
                {
                    width: 30%;
                    transition: width 600ms;
                }
                i
                {
                    transform: rotate(-360deg);
                    transition: transform 600ms;
                }
            }
            h3, span
            {
                margin: 3px;
            }
            h3
            {
                font-size: large;
            }
            span
            {
                font-size: 1.1em;
            }
            .info
            {
                display: flex;
                justify-content: space-between;
            }
            .desc, h3, .texte
            {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .prix
            {
                font-weight: bold;
                color: rgb(66, 66, 66);
                margin-right: 10px;
            }

    // Animation Menu boutons (entrée, plat, dessert)
            opacity: 1;
            animation: plats 600ms ease-in-out both;
            @for $i from 1 to 5 // 4 choix max
            {
                &--#{$i} 
                {
                    animation-delay: 200ms * ($i - 1);
                }
            }
        }
    }

    .menu-img
    {
        position: relative;
        z-index: -1;
        object-fit: cover;
        height: 260px;
    }

    div
    {
        display: flex;
        justify-content: center;
    }
    .button-pink
    {
        margin-top: 40px;
        margin-bottom: 80px;
    }
}

@keyframes plats {
    0%
    {
        opacity: 0;
        transform: translateY(10px);
    }
    100%
    {
        opacity: 1;
    }
}