@mixin carte
{
    box-sizing: border-box;
    width: 100%;
    // height: 250px;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba($color: #000000, $alpha: .07);
    // margin-bottom: 20px;
    background-color: white;
    border: none;
}